<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://forcss.oss-cn-shanghai.aliyuncs.com/font-awesome/font-awesome.css">
    <script src="/static/js/picturefill.js"></script>
    <script src="/static/js/swipe.js"></script>
    <title>Amber's Blogs</title>
</head>

<body>
<header id="header">
    <div class="container">
        <h1>博客目录</h1>
        <h2>About A.I, or The FUTURE</h2>
    </div>
</header>

<div class="container">
    <a href="#nav" class="open toggle-btn"><i class="fa fa-caret-square-o-down"></i> </a>
    <a href="#nav" class="close toggle-btn"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i> </a>
    <nav id="nav">
        <ul>
            <li><a href="/" class="active">博客</a> </li>
            <li><a href="/demo">时间</a> </li>
            <li><a href="/lvhang">作品</a> </li>
            <li><a href="/messageBoard">留言板</a> </li>
            <li><a href="#">关于</a> </li>
        </ul>
        <a href="#top" class="close toggle-btn"><i class="icon-remove-sign"></i> </a>
    </nav>
<!--
<div class="header">
    <span><a href="{% url 'blog_get_blogs' %}">Blogs</a> - <a href="{% url 'blog_get_detail' blog.id %}">{{ blog.title }}</a> </span>
</div>
-->

<article id="mainbody">
<div class="content">
    <div class="blog">
        <div class="title">
            <a href="#"><h2>{{ blog.title }}</h2></a>
        </div>
        <div class="info">
            <span class="category" style="color: #ff9900;">{{ blog.category.name }}</span>
            <span class="author" style="color:#4a86e8;">{{ blog.author }}</span>
            <span class="created" style="color: #6aa84f;">{{ blog.created|date:"Y-m-d H:i" }}</span>
        </div>
        <div class="summary">
            {{ blog.content }}
        </div>
    </div>
</div>
</article>

    <aside id="sidebar">
    <div class="comment">
        <div class="comments-display" style="padding-top: 20px;">
            <h3>Comments</h3>
            {% for comment in comments %}
                <div class="comment-field" style="padding-top:10px;">
                    {{ comment.name }} says: {{ comment.content }}
                </div>
            {% endfor %}
        </div>
    </div>
    </aside>

    <article id="mainbody">
        <div class="comment-post" style="padding-top: 20px;">
            <h3>Commit</h3>
            <form action="{% url 'blog_get_detail' blog.id %}" method="post">

                {% csrf_token %}
                {% for field in form %}
                    <div class="input-field" style="padding-top:10px;">
                    {{ field.label }}:  {{ field }}
                    </div>
                    <div class="error" style="color: red;">
                    {{ field.errors }}
                    </div>
                {% endfor %}
            <button type="submit" style="margin-top: 10px">Submit</button>

            </form>
        </div>
    </article>
</div>


<footer id="footer">
    <div class="container">
        <p><a href="/">A.I.Amber</a></p>
        <P>Test©2017<a href="http://www.miitbeian.gov.cn">皖ICP备17013335号-1</a> </P>
    </div>
</footer>

</body>
</html>