<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://forcss.oss-cn-shanghai.aliyuncs.com/font-awesome/font-awesome.css">
    <script src="/static/js/picturefill.js"></script>
    <script src="/static/js/swipe.js"></script>
    <title>Amber's Blogs</title>
</head>

<body>
<header id="header">
    <div class="container">
        <h1>Amber's blogs</h1>
        <h2>About A.I, or The FUTURE</h2>
    </div>
</header>

<div class="container">
    <a href="#nav" class="open toggle-btn"><i class="fa fa-caret-square-o-down"></i> </a>
    <a href="#nav" class="close toggle-btn"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i> </a>
    <nav id="nav">
        <ul>
            <li><a href="/" class="active">博客</a> </li>
            <li><a href="/demo">时间</a> </li>
            <li><a href="/lvhang">作品</a> </li>
            <li><a href="/login">留言板</a> </li>
            <li><a href="#">关于</a> </li>
        </ul>
        <a href="#top" class="close toggle-btn"><i class="icon-remove-sign"></i> </a>
    </nav>

<div class="header">
    <h1 style="...">Please input your account...</h1>
</div>

<div class="info">
    <form action="/login/" method="post">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" name="submit"/>
    </form>
</div>

<hr />

<div class="summary">
    <div class="header">
        <h1 style="...">Users Show</h1>
    </div>
    <table border="1">
        <thead>
            <th>username</th>
            <th>password</th>
        </thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td>{{ line.user }}</td>
                    <td>{{ line.pwd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <script src="/static/js/jquery-1.12.4.js"></script>
</body>
</html>