<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1 style="...">Please input your account...</h1>
    <form action="/login/" method="post">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" name="submit"/>
    </form>
    <hr />
    <h1 style="...">Users Show</h1>
    <table border="1">
        <thead>
            <th>username</th>
            <th>password</th>
        </thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td>{{ line.user }}</td>
                    <td>{{ line.pwd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="/static/js/jquery-1.12.4.js"></script>
</body>
</html>