<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, mininum-scale=1.0,
maxinum-scale=1.0, user-scalable=no">
    <meta name="description" content="Lvhang Tongzijun, from Hongkong...">
    <meta name="keywords" content="lvhang, tongzijun, summer-camp...">
    <title>绿航童子军</title>
    <link rel="shortcut icon" href="/static/imgs/logo.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>

</head>
<body>
<header id="header">
    <div><img src="/static/imgs/logo.jpg" alt="This is a logo..."/> </div>
    <nav class="nav">
        <ul>
            <li><a href="#">Home</a> </li>
            <li><a href="#">Camp</a> </li>
            <li><a href="#">Military</a> </li>
            <li><a href="#">Family</a> </li>
            <li><a href="#">Produce</a> </li>
        </ul>
    </nav>
</header>
    <div></div>
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>