<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewPort</title>
    <link rel="stylesheet" href="/static/css/viewport.css">
    <style>
        .container{
            width: 320px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="inner clearfix">
        <img src="http://foraxes.oss-cn-shanghai.aliyuncs.com/01.jpg">
        <h1>Seal</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, ipsum, nihil alias esse quas id quibusdam. Unde, recusandae, optio doloremque natus possimus vero atque facere pariatur minima nihil quidem architecto.</p>
    </div>
</div>

</body>
</html>